<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase</title>
</head>
<body>
    <div>Hello, {{ user_session }}</div>
    <div>
        <ul>
            {% for purchase in purchases %}
                <li>{{ purchase.id }}: {{ purchase.user_id }} {{ purchase.user.first_name }} {{ purchase.user.last_name }} {{ purchase.book_id }} {{ purchase.book.title }} {{ purchase.date }}</li>
            {% endfor %}
        </ul>
    </div>
    <form method=POST action='/logout'>
        <button type='submit'>Log out</button>
    </form>
</body>
</html>